<div class="row">
  <div class="col-4"></div>
  <div class="col-2 abstand-nach-oben">
    <button class="btn btn-primary" (click)="neuesLandAnlegen()">
      Neues Land anlegen
    </button>
  </div>
  <div class="col-2 abstand-nach-oben">
    <button class="btn btn-warning" (click)="landLoeschen()">
      Land löschen
    </button>
  </div>
</div>

<div class="row">
  <div *ngFor="let cont of countryService.continents | async" class="col-4">
    <a [routerLink]="['/edit-country']">
      <app-continent-tile [continent]="cont"> </app-continent-tile>
    </a>
  </div>
</div>
