<div class="row">
  <div class="col-4"></div>
  <div class="col-2 abstand-nach-oben">
    <button class="btn btn-primary" (click)="createCountry()">
      Add a new country
    </button>
  </div>
  <div class="col-2 abstand-nach-oben">
    <button class="btn btn-warning" (click)="deleteCountry()">
      delete a country
    </button>
  </div>
</div>

<div class="row">
  <div *ngFor="let cont of (countryService.continents | async)" class="col-4">
    <a [routerLink]="['/country-list', cont]">
      <app-continent-tile [continent]="cont" [countries]="countriesByContinent[cont]"> </app-continent-tile>
    </a>
  </div>
</div>
