<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    Name des Landes:
  </div>
  <div class="col-2">
    <input>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    Bevölkerung:
  </div>
  <div class="col-2">
    <input>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    Kontinent:
  </div>
  <div class="col-2">
    <input>
  </div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    Fahne:
  </div>
  <div class="col-2">
    <input>
  </div>
</div>
