<div class="row">
  <div class="col-2"></div>
  <div class="col-9 tile">
    <div class="row">
      <div class="col-12">
        <h5>The dialog you're trying to see isn't publicly available. Please enter your credentials.</h5>
      </div>
    </div>
    <form novalidate [formGroup]="credentialsFormGroup">
      <div class="row">
        <div class="col-3">User name:</div>
        <div class="col-8">
          <input
            class="form-control"
            name="username"
            formControlName="username"
          />
          <div class="error" *ngIf="credentialsFormGroup.get('username')?.errors?.required">
            Please enter your user name.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Password:</div>
        <div class="col-8">
          <input
            class="form-control"
            name="password"
            formControlName="password"
          />
          <div class="error" *ngIf="credentialsFormGroup.get('password')?.errors?.required">
            Please enter your password.
          </div>
        </div>
      </div>
      <div class="row distance-top">
        <div class="col-12 centered">
          <button class="btn btn-primary" [disabled]="!credentialsFormGroup.valid" (click)="doLogIn()">log in</button>
        </div>
      </div>
    </form>
  </div>
</div>
